body {
    text-align:center;
    width: 550px;;
    height:200px;
    background: white;
}

button {
    width:100%;
    color:white;
    background:linear-gradient(#01a9e1, #5bc4bc);
    border-width:0px;
    border-radius:50px;
    padding:5px;
    font-weight: bold;
    cursor:pointer;
    margin-bottom: 12px;
}

.main-content{
    display: flex;
    align-items: auto;
    justify-content:center;
}

.create-line {
  height: 200px;
  border-left: 3px solid #32a1ce;
}
.trainer-buttons{
   flex-basis: 180px; 
}

.brain-buttons{
   flex-basis: 180px; 
}

.additional-buttons{
   flex-basis: 180px; 
}

.create-line{
    margin: 20px;
}

